# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/helpdesk?schema=public"

# Better Auth
# Generate secret: openssl rand -base64 32
BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL="http://localhost:3001"

# Trusted Origins (comma-separated)
TRUSTED_ORIGINS="http://localhost:5173,http://localhost:3001"

# Server Port
PORT=3001

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password